<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>目录</title>
      <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
      <script type="text/javascript" src="../../../script/common.js"></script>
      <link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div id="chapter-menu">
        <div class="title">
          共 {{chapterinfo.cCount}} 章
          <span class="aui-pull-right" @click="orderChange">
            <i class="iconfont icon-order-left"  ></i> {{orderType=="asc" ?'正序':'倒序'}}
          </span>
        </div>
        <div style="margin-top: 35px">
          <div class="chapter" v-for="item in chapterinfo.lists"  @click="toRead(item.book_id,item.chapter_id)">
          {{item.chapter_name}} <span class="pull-right"><i class="aui-iconfont aui-icon-lock" v-if="item.is_vip==1"></i></span>
          </div>
          <div class="chapter" style="text-align:center;color: gainsboro;" v-if="nodata">
              啊哦~到底了~
          </div>
        </div>
        <!-- <div v-show="showTop" class="toTopImg" @click="toTop">
          <img src="../../image/my-icon/toTop.png"></img>
        </div> -->
    </div>
  </body>
  <script type="text/javascript" src="../../../script/api.js"></script>
  <script type="text/javascript" src="../../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../../script/aui-dialog.js"></script>
  <script type="text/javascript" src="../../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../../script/underscore.js"></script>
  <script type="text/javascript">
      var scroll = new auiScroll({
          listen:true, //是否监听滚动高度，开启后将实时返回滚动高度
          distance:200 //判断到达底部的距离，isToBottom为true
      },function(ret){
        // console.log(ret)
         if(ret.scrollTop>api.frameHeight){
           vm.showTop=true;
         }else{
           vm.showTop=false;
         }
      });
      var toast = new auiToast({});

      apiready = function(){
        var bookid=api.pageParam.bookid;
        vm.bookid=bookid;
        initload(bookid);
        // 下拉刷新
        api.setRefreshHeaderInfo({
            visible: true,
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function(ret, err) {
            initload(bookid);
            api.refreshHeaderLoadDone();
        });
        // 上拉加载
        api.addEventListener({
      		name: 'scrolltobottom',
      	}, function(ret, err) {
      		//  if(vm.chapterinfo.page<vm.chapterinfo.pageCount){
             if(vm.chapterinfo.is_nextPage == 1){
               vm.page++
             loadMore(bookid,vm.page);
           }else {
              vm.nodata=true;
           }
      	});
      };

      var vm=new Vue({
          el:"#chapter-menu",
          data:{
              chapterinfo:{},
              bookinfo:{
                id:"",
                chapter_id:""
              },
              nodata:false,
              orderType:"asc",
              bookid:0,
              page:1,
              showTop:false,
          },
          mounted: function () {

          },
          methods:{
            orderChange:function(){
              vm.orderType = vm.orderType=="asc"?"desc":"asc";
              initload();
            },
            toTop:function(){
              $api.dom("#chapter-menu").scrollTo({toT:0},500);
            }
          },
      });
      //打开阅读页
      function toRead(bid,cid){
          //var bookinfo=JSON.parse($api.getStorage('book_'+api.pageParam.bookid));
          vm.bookinfo.id = bid
          vm.bookinfo.chapter_id = cid
          api.openWin({
              name: 'read',
              url: '../content/read.html',
              pageParam: vm.bookinfo,
              animation:{
                type:"push",                //动画类型（详见动画类型常量）
                subType:"from_right",       //动画子类型（详见动画子类型常量）
                duration:500                //动画过渡时间，默认300毫秒
              }
            });
      }
      //  初始化
      function initload(bookid) {
          toast.loading({
              title:"loading...",
              duration:2000
          })
        // 获取章节信息

          api.ajax({
              url: "http://www.w.iwekan.com/App/Home/Index/Catalog?id="+bookid+"&page="+vm.page+"&order="+vm.orderType,
              method: 'get'
          }, function(ret, err) {
            //alert(JSON.stringify(ret));
              if (ret) {
                if(ret.code==200){
                  vm.chapterinfo=ret.data;
                }
                  toast.hide();
              } else {
                  toast.fail({
                      title: err.msg,
                      duration: 2000
                  });
              }
          });
      }

      function loadMore(bookid,page){
        api.ajax({

            url: "http://www.w.iwekan.com/App/Home/Index/Catalog?id="+vm.bookid+"&page="+page+"&order="+vm.orderType,
            method: 'get'
        }, function(ret, err) {
            if (ret) {
              if(ret.code==200){
                vm.chapterinfo.lists=vm.chapterinfo.lists.concat(ret.data.lists)
                vm.chapterinfo.page=ret.data.page;
              }
            } else {
                toast.fail({
                    title: err.msg,
                    duration: 2000
                });
            }
        });
      }
  </script>
  </html>
