body{
  background: #fff;
}
.space{
  height: 1rem;
}
.bg {

   height:145px;
   position: relative;
   top: -5px
}
.bg-blur {
   width: 104%;
   left: -2%;
   background-size:150% 150%;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-filter: blur(15px) contrast(30%);
   -moz-filter: blur(15px) contrast(30%);
   -o-filter: blur(15px) contrast(30%);
   -ms-filter: blur(15px) contrast(30%);
   filter: blur(15px) contrast(30%);
}
.book-detail {
 position: absolute;
 top: 10px;
 left: 15px;
 color: white;
 clear: both;
}
.book-detail div{
 color: white;
}
.book-detail p{
 color: white;
 margin: 0.3rem 0;
}
.book-intro{
 font-size: 14px;
 padding: 0 15px;
 color: #4c4c4c;
 overflow: hidden;
}
.chapter{
 padding: 0 15px;
 overflow: hidden;
}
.chapter p{
 margin: 0.2rem 0;
}
.new{
 background: #ff3955;
 border-radius: 20px;
 padding: 1px 8px;
 color: white;
 font-size: 12px;
}
.to-more{
 text-align: center;
 color: grey;
 height: 50px;
 line-height: 50px;
 font-size: 0.7rem;
}
.head-img{
 width: 2.5rem;
 height: 2.5rem;
 border-radius: 50%;
}
.chapter .have-line-block {
  margin: 0;
  height: auto;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}
.chapter-menu{
  margin: 0 15px;
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
}
.chapter-menu .title{
  font-weight: bold;
}
.chapter-menu .pull-right{
  font-size: 14px;
  color: gray;
}
.aui-iconfont{
  font-weight: bold;
}
