<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <style>
      .aui-btn-danger {
          width: 150px;
          color: #ffffff !important;
          background-color: #ff3955 !important;
          border-radius: 25px;
          margin: auto;
      }
      </style>
  </head>
  <body>
    <div id="book-cate">
      <!-- 首页样式 -->
      <div class="aui-margin-10">
        <div class="tags"style="height:16px">
            <!-- <span class="tag tag_choose">人气</span>
            <span class="tag">字数</span>
            <span class="tag">时间</span>
            <span class="tag">点击</span> -->
        </div>
        <div class="shanxuan" @click="showAll=true" style="height:32px">
          <img src="../../../image/my-icon/shanxuan.png" style="width:32px;height:32px"></img>
          <span class="shanxuan-word">筛选</span>
        </div>
        <div class="aui-padded-t-10">
          <div class="have-line-block" v-for="i in dataLists">
            <div class="aui-row-padded" @click="toDetails(i.book_id)">
              <div class="aui-col-xs-3">
                <img :src='i.cover' class='book-img'></image>
              </div>
              <div class="aui-col-xs-9">
                <div class="book-name">{{i.short_name}}</div>
                <div class="book-intro aui-ellipsis-2">{{i.intro}}</div>
                <div class="book-author"><i class="aui-iconfont aui-icon-my"></i> {{i.author_name}}
                  <!-- <span class="book-tag book-wordnum pull-right">{{i.words}}</span>
                  <span class="book-tag book-state pull-right">{{i.status}}</span> -->
                  <span class="book-tag book-wordnum pull-right">28万字</span>
                  <span class="book-tag book-state pull-right">连载中</span>
                  <span class="book-tag book-cate pull-right">{{i.cate_name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-show="showAll">
        <div class="aui-mask aui-mask-in"></div>
        <div class="all-words">
          <div style="text-align: center;padding: 10px;font-size:14px;
          ">筛选</div>
          <div class="aui-padded-l-10 aui-margin-b-15-2 aui-margin-t-15" style="margin-top:30px">
            <div class="all-title ">状态</div>
            <div class="tags" class="aui-padded-t-10">
                <span class="tag" v-for="(item,index) in list1" :class="num1==index?'tag_choose':''" @click="change1(index)">{{item}}</span>
            </div>
          </div>
          <div class="aui-padded-l-10 aui-margin-b-15-2 aui-margin-t-15" >
            <div class="all-title ">属性</div>
            <div class="tags" class="aui-padded-t-10">
              <span class="tag" v-for="(item,index) in list2" :class="num2==index?'tag_choose':''" @click="change2(index)">{{item}}</span>
            </div>
          </div>
          <div class="aui-padded-l-10 aui-margin-b-15-2 aui-margin-t-15">
            <div class="all-title ">性别</div>
            <div class="tags" class="aui-padded-t-10">
              <span class="tag" v-for="(item,index) in list3" :class="num3==index?'tag_choose':''" @click="change3(index)">{{item}}</span>
            </div>
          </div>
          <div class="aui-padded-l-10 aui-margin-b-15-2 aui-margin-t-15">
            <div class="all-title ">更新时间</div>
            <div class="tags" class="aui-padded-t-10">
              <span class="tag" v-for="(item,index) in list4" :class="num4==index?'tag_choose':''" @click="change4(index)">{{item}}</span>
            </div>
          </div>
          <div class="aui-text-center" style="margin-top:2rem;"><div class="aui-btn aui-btn-danger" @click="sx()">确定</div></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../script/api.js"></script>
  <script type="text/javascript" src="../../../script/common.js"></script>
  <script type="text/javascript" src="../../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../../script/aui-dialog.js"></script>

  <script type="text/javascript">
      apiready = function(){
        var pageParam=api.pageParam.typeid;
        vm.cate = pageParam
        initload(pageParam)
      };
      var vm=new Vue({
          el:"#book-cate",
          data:{
            showAll:false,
            dataLists: [],
            list1:["全部","完本","连载"],
            list2:["全部","VIP","免费"],
            list3:["全部","男生","女生"],
            list4:["全部","三日内","七日内","半月内","一月内"],
            num1:0,
            num2:0,
            num3:0,
            num4:0,
            cate:""
          },
          mounted: function () {

          },
          methods:{
              toDetails:function(item){
                api.openWin({
                    name: 'bookdetail',
                    url: '../../book/detail/bookdetail.html',
                    pageParam: {bookid: item}
                  });
              },

              change1(index){
                vm.num1 = index
              },
              change2(index){
                vm.num2 = index
              },
              change3(index){
               vm.num3 = index
              },
              change4(index){
               vm.num4 = index
             },
               sx(){
                 let type = ""
                 if (vm.num ==1) {
                   type = 1
                 } else if (vm.num ==2) {
                   type = 0
                 } else {
                   type = ""
                 }
                 vm.showAll = false
                 api.ajax({
                     url: "http://www.w.iwekan.com/App/Book/Book/Booklists?type="+type,
                     method: 'post',
                     data : {
                       values:{
                         status:vm.num1,
                         type:type,
                         is_vip:vm.is_vip,
                         cate:vm.cate
                       }
                     }
                 }, function(ret, err) {
                     if (ret) {
                       if(ret.code == 200){
                          //alert(JSON.stringify(ret.data))
                          vm.dataLists = ret.data
                       }
                     } else {

                     }
                 });
               }
          },
      });

      //  初始化
      function initload(pageParam) {
        var toast = new auiToast({});
        toast.loading({
            title:"loading...",
            duration:2000
        })
          api.ajax({
              url: "http://www.w.iwekan.com/App/Book/Book/Booklists?cate="+pageParam,
              method: 'get'
          }, function(ret, err) {
              if (ret) {
                if(ret.code == 200){
                  // alert(JSON.stringify(ret.data))
                  vm.dataLists = ret.data
                }
                  toast.hide();
              } else {
                  toast.fail({
                      title: err.msg,
                      duration: 2000
                  });
              }
          });
      }

  </script>
  </html>
