<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
      <script type="text/javascript" src="../../../script/common.js"></script>
      <link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div id="book-detail" v-if="bookInfo">

      <div style="height:135px;overflow:hidden">
        <div class="bg bg-blur" :style="'background: url('+bookInfo.cover+')'"></div>
        <div class="book-detail">
          <div class="aui-row-padded">
            <div class="aui-col-xs-4">
              <img :src='bookInfo.cover' class='book-img'></img>
            </div>
            <div class="aui-col-xs-8">
              <div class="book-name">{{bookInfo.short_name}}</div>
              <p>{{bookInfo.username}}</p>
              <p>{{bookInfo.cate_name}}</p>
              <p>{{bookInfo.word_count}} | {{bookInfo.status}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 简介 -->
      <div class="book-intro">
        <div :class="showAll?'':'cut-4'">{{bookInfo.intro}}</div>
        <p class="pull-right" @click="showAll=!showAll">{{showAll?'收起':'展开'}} <i class="aui-iconfont" :class="showAll?'aui-icon-top':'aui-icon-down'"></i></p>
      </div>


      <div class="chapter-menu" @click="toChapter()">
        <!-- <span class="title">目录</span><span class="pull-right">更新至{{bookInfo.chapter_name}}<i class="aui-iconfont aui-icon-right"></i></span> -->
        <span class="title">目录</span><span class="pull-right">更新至  第一章 大家好<i class="aui-iconfont aui-icon-right"></i></span>
      </div>
      <div class="space"></div>
      <!-- 同类精品 -->
      <div class="chapter">
        <div class="channel__header">
            <div class="header__left">同类精品</div>
        </div>
        <div class="aui-row-padded style1">
          <div class="aui-col-xs-3" tapmode @click="toDetails(i.book_id)" v-for="i in dataLists">
            <img :src='i.path' class='book-img'></img>
            <!-- <div class="item-book-name aui-ellipsis-2">{{i.book_name}}</div> -->
            <div class="item-book-intro aui-ellipsis-1" >{{i.book_name}}</div>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <!-- 评论 -->
      <div class="chapter">
        <div class="channel__header">
            <div class="header__left">评论区</div>
            <div class="header__right" style="color: #f56c6c" @click="toComment">我要评论 <i class="aui-iconfont aui-icon-pencil"></i></div>
        </div>
        <div class="have-line-block" v-for="i in rewardList">
          <div class="aui-row-padded">
            <div class="aui-col-xs-2">
              <img :src='i.headerimg' class="head-img"></img>
            </div>
            <div class="aui-col-xs-10">
              <p>{{i.username}}<p>
              <p>{{i.addtime}}<p>
              <p class="aui-ellipsis-2">{{i.content}}</p>
            </div>
          </div>
        </div>
        <div v-if="flag" class="to-more" @click="tomore">查看更多<i class="aui-iconfont aui-icon-down"></i></div>
        <div v-if="!flag" class="to-more" @click="retur">收起评论<i class="aui-iconfont aui-icon-top"></i></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../script/api.js"></script>
  <script type="text/javascript" src="../../../script/aui-tab.js"></script>
  <script type="text/javascript" src="../../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../../script/aui-dialog.js"></script>

  <script type="text/javascript">

      apiready = function(){
         var bookid=api.pageParam.bookid;
         initload(bookid);
      };

      var vm=new Vue({
          el:"#book-detail",
          data:{
            bookInfo:"",
            dataLists: [],
            showAll:false,
            tmp:[],
            rewardList:[],
            flag:true
          },
          mounted: function () {

          },
          methods:{
              toChapter:function(){
                api.openWin({
                    name: 'chapterMenu',
                    url: '../chapter/chapterMenu.html',
                    pageParam: {bookid: vm.bookInfo.id}
                  });
              },
              toComment:function(){
                api.openWin({
                    name: 'comment',
                    url: '../../user/comment/comment.html',
                    pageParam: {bookid: vm.bookInfo.id}
                  });
              },
              toDetails:function(item){
                //console.log(window.document.location.href);
                api.openWin({
                    name: 'bookdetail',
                    url: '../../book/detail/bookdetail.html',
                    pageParam: {bookid: item}
                  });
              },
              tomore(){
                vm.rewardList = vm.tmp
                vm.flag = false
              },
              retur(){
                vm.rewardList = vm.tmp.slice(0,3)
                vm.flag = true
              }
          },
      });

      //  初始化
      function initload(bookid) {
        // alert(bookid)
          var toast = new auiToast({});
        toast.loading({
            title:"loading...",
            duration:2000
        })
        // 获取书籍信息
          api.ajax({
              url: "http://www.w.iwekan.com/App/Home/Index/details?id="+bookid,
              method: 'get'
          }, function(ret, err) {
              if (ret) {
                // alert(JSON.stringify(ret.data.comment.lists))
                if(ret.code==200){
                  vm.bookInfo=ret.data.books;
                  vm.dataLists=ret.data.groom
                  vm.tmp=ret.data.comment.lists
                  vm.rewardList=ret.data.comment.lists.slice(0,3)
                }
                $api.setStorage('book_'+bookid, JSON.stringify(vm.bookInfo));
                toast.hide();
              } else {
                  toast.fail({
                      title: err.msg,
                      duration: 2000
                  });
              }
          });
      }
  </script>
  </html>
