<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/aui-slide.css"/>
      <style>
        body{
          background: #fff
        }
        .aui-grid .aui-iconfont {
          color: #ff3955;
        }
        .aui-grid [class*=aui-col-] {
          padding: 0.5rem 0;
        }
        .aui-grid .aui-iconfont {
          font-size: 1.2rem;
        }
        .aui-bar-btn {
          min-height: 1.4rem;
        }
        .aui-bar-btn-item.aui-active {
          background-color: #ff3955;
          color: #ffffff;
        }
        .aui-bar-btn-item {
            line-height: 1.4rem;
            border-color: #ff3955;
            font-size: 12px;
        }
        .aui-slide-page-active{
            background: #ff3955;
        }
      </style>
  </head>
  <body>
    <div id="book-index">
      <!-- 头部banner -->
      <div id="aui-slide3">
          <div class="aui-slide-wrap" >
              <div class="aui-slide-node bg-dark" v-for="item in banner"  tapmode  @click="toDetails(item.book_id)">
                  <img :src="item.image" />
              </div>
          </div>
          <div class="aui-slide-page-wrap"><!--分页容器--></div>
      </div>
      <!-- 菜单 -->
      <section class="aui-grid">
        <div class="aui-row">
          <div class="aui-col-xs-3" v-for="item in menu"  tapmode  @click="openChat(item.type)">
            <i class="aui-iconfont " :class="item.icon"></i>
            <div class="aui-grid-label">{{item.name}}</div>
          </div>
        </div>
      </section>
      <!-- 首页样式 -->
      <section v-for="item in indexLists">
        <div class="space"></div>
        <div class="book-channel">
          <div class="channel__header">
              <div class="header__left">{{item.title}}</div>
              <div class="header__right">查看更多<i class="aui-iconfont aui-icon-right"></i></div>
          </div>
          <div class="aui-row-padded style1" v-if="item.type==1">
            <div class="aui-col-xs-3" tapmode @click="toDetails(i.id)" v-for="i in item.dataLists">
              <img :src='i.img' class='book-img'></img>
              <div class="item-book-name aui-ellipsis-2">{{i.name}}</div>
              <div class="item-book-intro aui-ellipsis-1">{{i.intro}}</div>
            </div>
          </div>
          <!-- 一排一本书样式 -->
          <div class="have-line-block" v-for="i in item.dataLists" v-if="item.type==2">
            <div class="aui-row-padded" @click="toDetails(i.id)">
              <div class="aui-col-xs-3">
                <img :src='i.img' class='book-img'></image>
              </div>
              <div class="aui-col-xs-9">
                <div class="book-name">{{i.name}}</div>
                <div class="book-intro aui-ellipsis-2">{{i.intro}}</div>
                <div class="book-author"><i class="aui-iconfont aui-icon-my"></i> {{i.author}}
                  <span class="book-tag book-wordnum pull-right">{{i.words}}</span>
                  <span class="book-tag book-state pull-right">{{i.status}}</span>
                  <span class="book-tag book-cate pull-right">{{i.cate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="space"></div>
      <!-- 排行推荐 -->
      <section class="book-channel">
        <!--每个样式的头部-->
        <div class="channel__header">
            <div class="header__left">排行推荐</div>
            <div class="header__right">查看更多<i class="aui-iconfont aui-icon-right"></i></div>
        </div>
        <div class="aui-bar aui-bar-btn" id="ranks">
              <div class="aui-bar-btn-item">热销榜</div>
              <div class="aui-bar-btn-item">点击榜</div>
              <div class="aui-bar-btn-item">新书榜</div>
              <div class="aui-bar-btn-item">完本榜</div>
        </div>
        <div class="aui-row-padded style1">
          <div class="aui-col-xs-3">
            <image src='https://www.luoshenread.com/imagedata/2018/03/08/5aa0b568b507e781870629.jpg' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">娇蛮弃妃：毒辣小娇妻</div>
            <div class="item-book-intro aui-ellipsis-1">毒辣小娇妻水电费防守打法</div>
          </div>
          <div class="aui-col-xs-3">
            <image src='https://www.luoshenread.com/imagedata/2018/03/08/5aa0b2e6bcc0a386608779.jpg' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">腹黑：腹黑总裁不好惹</div>
            <div class="item-book-intro aui-ellipsis-1">毒辣小娇胜多负少的 妻</div>
          </div>
          <div class="aui-col-xs-3">
            <image src='https://www.luoshenread.com/imagedata/2018/03/08/5aa0b531e73c2314218691.jpg' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">言情之恶魔的千日情人</div>
            <div class="item-book-intro aui-ellipsis-1">毒地方斯蒂芬辣小娇妻</div>
          </div>
          <div class="aui-col-xs-3">
            <image src='https://www.luoshenread.com/imagedata/2018/04/04/5ac498d5c69f5051550610.jpg' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">重生：首长大热夜夜宠</div>
            <div class="item-book-intro aui-ellipsis-1">毒辣东方闪电胜多负少小娇妻</div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/common.js"></script>
  <script type="text/javascript" src="../../script/aui-slide.js"></script>
  <script type="text/javascript" src="../../script/aui-tab.js"></script>
  <script type="text/javascript" src="../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../script/aui-dialog.js"></script>

  <script type="text/javascript">
      // toast.loading({
      //     title:"loading...",
      //     duration:2000
      // })
      // var indexSetting = $api.getStorage('appinfo');
      // indexSetting.userinfo = $api.getStorage('userinfo');
      // indexSetting.loading = false;
      // indexSetting.current = 1;
      // indexSetting.total = 2;
      // indexSetting.startindex = 0;
      // if ($api.getStorage('localstore')) {
      //     indexSetting.localstore = $api.getStorage('localstore');
      // } else {
      //     // indexSetting.localstore = {
      //     //     data: []
      //     // };
      // }
      apiready = function(){
        // $api.fixStatusBar($api.dom('header'));
        // api.parseTapmode();
        // if (api.statusBarAppearance) {
        //     if (api.systemType == 'android') {
        //         indexSetting.statbar = 25;
        //     } else {
        //         indexSetting.statbar = 20;
        //     }
        //     api.setStatusBarStyle({
        //         style: 'dark'
        //     });
        // } else {
        //     indexSetting.statbar = 0;
        // }
        initload();
      };
      var vm=new Vue({
          el:"#book-index",
          data:{
            banner:[],
            menu:[
              {
                type:1,
                icon:"aui-icon-home",
                name:"排行榜"
              },
              {
                type:2,
                icon:"aui-icon-star",
                name:"免费"
              },
              {
                type:3,
                icon:" aui-icon-map",
                name:"新书"
              },
              {
                type:4,
                icon:"aui-icon-calendar",
                name:"完本"
              }
            ],
            indexLists: [
              {
                title: "本周最热",
                type: 1,
                dataLists: [{
                    id: 1,
                    img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b1fc25db6083195196.jpg",
                    name: "毒辣小娇妻",
                    author: "杀生丸",
                    cate: "现代言情",
                    intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                  },
                  {
                    id: 2,
                    img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b568b507e781870629.jpg",
                    name: "腹黑总裁不好惹",
                    author: "杀生丸",
                    cate: "现代言情",
                    intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                  },
                  {
                    id: 3,
                    img: "https://www.luoshenread.com/imagedata/2018/03/30/5abdf72cbc688411422990.jpg",
                    name: "恶魔的千日情人",
                    author: "杀生丸",
                    cate: "现代言情",
                    intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                  },
                  {
                    id: 4,
                    img: "https://www.luoshenread.com/imagedata/2018/04/17/5ad56d18343c0671096362.jpg",
                    name: "毒辣小娇妻",
                    author: "杀生丸",
                    cate: "现代言情",
                    intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                  }
                ]
              },
              {
                  title: "新书抢先", //区块标题
                  type: 2, //区块样式
                  dataLists: [ //区块内漫画列表
                    {
                      id: 1, //id
                      img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b568b507e781870629.jpg", //图片
                      name: "毒辣小娇妻", //名字
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                    {
                      id: 2,
                      img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b2e6bcc0a386608779.jpg",
                      name: "腹黑总裁不好惹",
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                    {
                      id: 3,
                      img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b531e73c2314218691.jpg",
                      name: "恶魔的千日情人",
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                    {
                      id: 4,
                      img: "https://www.luoshenread.com/imagedata/2018/04/04/5ac498d5c69f5051550610.jpg",
                      name: "毒辣小娇妻",
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                    {
                      id: 5,
                      img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0a653e338d698205473.jpg",
                      name: "毒辣小娇妻",
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                    {
                      id: 6,
                      img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0ad6ec7c27095433727.jpg",
                      name: "毒辣小娇妻",
                      author: "杀生丸",
                      cate: "现代言情",
                      intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
                      status:"连载中",
                      words:"23.7万字"
                    },
                  ]
                },
            ]
          },
          mounted: function () {

          },
          methods:{
              openChat:function(item){
                api.openWin({
                    name: 'ranks',
                    url: 'ranks.html',
                    pageParam: {type: item}
                  });
              },
              toDetails:function(item){
                api.openWin({
                    name: 'bookdetail',
                    url: 'bookdetail.html',
                    pageParam: {bookid: item}
                  });
              },
          },
      });

      //  初始化
      function initload() {
          var toast = new auiToast({});
        toast.loading({
            title:"loading...",
            duration:2000
        })
        // 获取banner数据
          api.ajax({
              url: "https://www.luluxs8.com/novel/v2/Slide.php",
              method: 'get'
          }, function(ret, err) {
              if (ret) {
                if(ret.code==200){
                  vm.banner=ret.data;
                  setTimeout(function(){
                    //初始化轮播
                    var slide = new auiSlide({
                        container:document.getElementById("aui-slide3"), //容器
                        // "width":100, //宽度
                        "height":130, //高度
                        "speed":500, //速度
                        "autoPlay": 3000, //自动播放
                        "loop":true,//是否循环
                        "pageShow":true,//是否显示分页器
                        "pageStyle":'dot', //分页器样式，分dot,line
                        'dotPosition':'center' //当分页器样式为dot时控制分页器位置，left,center,right
                    })
                  },0)
                }
                  toast.hide();
              } else {
                  toast.fail({
                      title: err.msg,
                      duration: 2000
                  });
              }
          });
      }

      var tab = new auiTab({
        element:document.getElementById("ranks"),
        index:1,
        repeatClick:false
      },function(ret){
        switch (ret.index) {
            case 1:
                break;
            case 2:
                break;
            case 3:
                break;
            case 4:
                break;
        }
      });
  </script>
  </html>
