<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/aui-slide.css"/>
      <style>
        body{
          background: #fff
        }
        .aui-grid .aui-iconfont {
          color: #ff3955;
        }
        .aui-grid [class*=aui-col-] {
          padding: 0.5rem 0;
        }
        .aui-grid .aui-iconfont {
          font-size: 1.2rem;
        }
        .aui-bar-btn {
          min-height: 1.4rem;
        }
        .aui-bar-btn-item.aui-active {
          background-color: #ff3955;
          color: #ffffff;
        }
        .aui-bar-btn-item {
            line-height: 1.4rem;
            border-color: #ff3955;
            font-size: 12px;
        }
        .aui-slide-page-active{
            background: #ff3955;
        }
        .menu-img{
          width: 30px;
          margin: auto;
        }
      </style>
  </head>
  <body>
    <div id="book-index">
      <!-- 头部banner -->
      <div id="aui-slide3">
          <div class="aui-slide-wrap" >
              <div class="aui-slide-node bg-dark" v-for="item in banner"  tapmode  @click="toDetails(item.book_id)">
                  <img :src="item.path" />
              </div>
          </div>
          <div class="aui-slide-page-wrap"><!--分页容器--></div>
      </div>
      <!-- 菜单 -->
      <section class="aui-grid">
        <div class="aui-row">
          <div class="aui-col-xs-3" v-for="item in menu"  tapmode  @click="openChat(item.type,item.type1)">
            <img :src="item.img" class="menu-img" />
            <div class="aui-grid-label">{{item.name}}</div>
          </div>
        </div>
      </section>
      <!-- 首页样式 -->
      <section v-for="item in indexLists">
        <div class="space"></div>
        <div class="book-channel">
          <div class="channel__header">
              <div class="header__left">{{item.class_name}}</div>
              <div class="header__right">查看更多<i class="aui-iconfont aui-icon-right"></i></div>
          </div>
          <!-- -->
          <div class="aui-row-padded style1"   v-if="item.type == 1">
            <div class="aui-col-xs-3" tapmode @click="toDetails(i.book_id)" v-for="i in item.books">
              <img :src='i.cover' class='book-img'></img>
              <div class="item-book-name aui-ellipsis-2" style="text-align:center;">{{i.short_name}}</div>
            </div>
          </div>
          <!-- 一排一本书样式 -->
          <div class="have-line-block" v-for="i in item.books" v-if="item.type==2">
            <div class="aui-row-padded" @click="toDetails(i.book_id)">
              <div class="aui-col-xs-3">
                <img :src='i.cover' class='book-img'></image>
              </div>
              <div class="aui-col-xs-9">
                <div class="book-name">{{i.short_name}}</div>
                <div class="book-intro aui-ellipsis-2">{{i.intro}}</div>
                <div class="book-author"><i class="aui-iconfont aui-icon-my"></i> {{i.author}}
                  <span class="book-tag book-wordnum pull-right">{{i.words}}</span>
                  <span class="book-tag book-state pull-right">{{i.status == 2?"连载":"完结"}}</span>
                  <span class="book-tag book-cate pull-right">{{i.cate_name}}</span>
                </div>
              </div>
            </div>
          </div>

          <!--  333333333-->
          <div class="aui-row-padded style1"   v-if="item.type == 3">
            <div class="aui-col-xs-3" tapmode @click="toDetails(i.book_id)" v-for="i in item.books">
              <img :src='i.cover' class='book-img'></img>
              <div class="item-book-name aui-ellipsis-2">{{i.book_name}}</div>
              <div class="item-book-intro aui-ellipsis-1">{{i.author_name}}</div>
            </div>
          </div>
          <!--  444444-->

          <div class="aui-row-padded style1"   v-if="item.type == 4">
            <div class="aui-col-xs-3" tapmode @click="toDetails(i.book_id)" v-for="i in item.books">
              <img :src='i.cover' class='book-img'></img>
              <div class="item-book-name aui-ellipsis-2">{{i.book_name}}</div>
              <div class="item-book-intro aui-ellipsis-1">{{i.author_name}}</div>
            </div>
          </div>
        </div>
      </section>
      <div class="space"></div>
      <!-- 排行推荐 -->
      <!-- <section class="book-channel">

        <div class="channel__header">
            <div class="header__left">排行推荐</div>
            <div class="header__right">查看更多<i class="aui-iconfont aui-icon-right"></i></div>
        </div>
        <div class="aui-bar aui-bar-btn" id="ranks">
              <div class="aui-bar-btn-item">热销榜</div>
              <div class="aui-bar-btn-item">点击榜</div>
              <div class="aui-bar-btn-item">新书榜</div>
              <div class="aui-bar-btn-item">完本榜</div>
        </div>
        <div class="aui-row-padded style1">
          <div class="aui-col-xs-3" v-for="item in tj">
            <image src='item.cover' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">{{item.book_name}}</div>
            <div class="item-book-intro aui-ellipsis-1">{{item.intro}}</div>
          </div>
          <div class="aui-col-xs-3">
            <image src='https://www.luoshenread.com/imagedata/2018/03/08/5aa0b2e6bcc0a386608779.jpg' class='book-img'></image>
            <div class="item-book-name aui-ellipsis-2">腹黑：腹黑总裁不好惹</div>
            <div class="item-book-intro aui-ellipsis-1">毒辣小娇胜多负少的 妻</div>
          </div>
        </div>
      </section> -->
    </div>
  </body>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/common.js"></script>
  <script type="text/javascript" src="../../script/aui-slide.js"></script>
  <script type="text/javascript" src="../../script/aui-tab.js"></script>
  <script type="text/javascript" src="../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../script/aui-dialog.js"></script>

  <script type="text/javascript">
      apiready = function(){
        initload();
      };


      var vm=new Vue({
          el:"#book-index",
          data:{
            banner:[],
            menu:[
              {
                type:1,
                icon:"aui-icon-home",
                img:"../../image/my-icon/ranks.png",
                name:"热销榜"
              },
              {
                type:2,
                icon:"aui-icon-star",
                img:"../../image/my-icon/free.png",
                name:"点击榜"
              },
              {
                type:3,
                icon:" aui-icon-map",
                img:"../../image/my-icon/new.png",
                name:"新书榜"
              },
              {
                type:4,
                icon:"aui-icon-calendar",
                img:"../../image/my-icon/wanben.png",
                name:"完本榜"
              }
            ],
            tj:[],
            indexLists: []
          },
          mounted: function () {

          },
          methods:{
              openChat:function(item){
                api.openWin({
                    name: 'ranks',
                    url: './rank/ranks.html',
                    pageParam: {type: item}
                  });
              },
              toDetails:function(item){
                api.openWin({
                    name: 'bookdetail',
                    url: '../book/detail/bookdetail.html',
                    pageParam: {bookid: item}
                  });
              },
          },
      });
      //  初始化
      function initload() {
          var toast = new auiToast({});
        toast.loading({
            title:"loading...",
            duration:2000
        })
        // 获取banner数据
          api.ajax({
              url: "http://www.w.iwekan.com/App/Home/Index/index",
              method: 'get'
          }, function(ret, err) {
              if (ret) {
                if(ret.code == 200){
                  vm.banner=ret.data.banner;
                //  alert(JSON.stringify(ret.data))
                  vm.indexLists=ret.data.blocks;
                  vm.tj=ret.data.blocks[3].books
                  setTimeout(function(){
                    //初始化轮播
                    var slide = new auiSlide({
                        container:document.getElementById("aui-slide3"), //容器
                        // "width":100, //宽度
                        "height":130, //高度
                        "speed":500, //速度
                        "autoPlay": 3000, //自动播放
                        "loop":true,//是否循环
                        "pageShow":true,//是否显示分页器
                        "pageStyle":'dot', //分页器样式，分dot,line
                        'dotPosition':'center' //当分页器样式为dot时控制分页器位置，left,center,right
                    })
                  },0)
                }
                  toast.hide();
              } else {
                  toast.fail({
                      title: err.msg,
                      duration: 2000
                  });
              }
          });
      }

      var tab = new auiTab({
        element:document.getElementById("ranks"),
        index:1,
        repeatClick:false
      },function(ret){
        switch (ret.index) {
            case 1:
                break;
            case 2:
                break;
            case 3:
                break;
            case 4:
                break;
        }
      });
  </script>
  </html>
