<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <style>
      .aui-searchbar {
          background: none;
          color: #9e9e9e;
      }
      .aui-searchbar-input {
          background-color: #f5f5f5;
          border-radius: 0.8rem;
          height: 1.6rem;
          line-height: 1.6rem;
      }
      .aui-searchbar-input input {
          height: 1.6rem;
      }
      .aui-searchbar .aui-searchbar-btn {
         margin-right: 0;
      }
      </style>
  </head>
  <body>
    <div id="book-cate">
      <div class="aui-searchbar" id="search">
            <div class="aui-searchbar-input aui-border-radius">
                <i class="aui-iconfont aui-icon-search"></i>
                <input type="search" placeholder="请输入搜索内容" id="search-input" @search="searchBook" v-model="words">
                <div class="aui-searchbar-clear-btn">
                    <i class="aui-iconfont aui-icon-close"></i>
                </div>
            </div>
            <div class="aui-searchbar-btn" @click="cancel">取消</div>
        </div>
      <div class="aui-padded-t-10 aui-margin-10" v-if="ifsearch">


          <div class="have-line-block" v-for="i in dataLists">
            <div class="aui-row-padded" @click="toDetails(i.book_id)">
              <div class="aui-col-xs-3">
                <img :src='i.cover' class='book-img'></image>
              </div>
              <div class="aui-col-xs-9">
                <div class="book-name">{{i.short_name}}</div>
                <div class="book-intro aui-ellipsis-2">{{i.intro}}</div>
                <div class="book-author"><i class="aui-iconfont aui-icon-my"></i> {{i.author_name}}
                  <span class="book-tag book-wordnum pull-right">{{i.words}}</span>
                  <span class="book-tag book-state pull-right">{{i.status}}</span>
                  <span class="book-tag book-cate pull-right">{{i.cate}}</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="no_search" v-else>
            <div class="aui-padded-b-10 aui-margin-10">
                <p class="title">热门搜索</p>
                <div class="tags clearfix">
    			        <span class="tag" v-for="item in dataLists" @click="toDetails(item.id)">{{item.name}}</span>
                </div>
            </div>
            <div class="space" v-if="history"></div>
            <div class="aui-padded-b-10 aui-margin-10" v-if="history">
                <p class="title">历史搜索 <span class="aui-pull-right" @click="removeHistory">清空</span></p>
                <div class="tags clearfix">
                  <span class="tag" v-for="item in history" @click="chooseHistory(item)">{{item}}</span>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../script/api.js"></script>
  <script type="text/javascript" src="../../../script/common.js"></script>
  <script type="text/javascript" src="../../../script/vue.min.js"></script>
  <script type="text/javascript" src="../../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../../script/aui-scroll.js"></script>
  <script type="text/javascript" src="../../../script/aui-dialog.js"></script>

  <script type="text/javascript">
      apiready = function(){
          var pageParam=api.pageParam;
      };
      var vm=new Vue({
          el:"#book-cate",
          data:{
            words:"",
            ifsearch:false,
            showAll:false,
            history:["扶摇","总裁","宝宝"],
            dataLists: [
              // {
              //   id: 1, //id
              //   img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b568b507e781870629.jpg", //图片
              //   name: "毒辣小娇妻", //名字
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
              // {
              //   id: 2,
              //   img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b2e6bcc0a386608779.jpg",
              //   name: "腹黑总裁不好惹",
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
              // {
              //   id: 3,
              //   img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0b531e73c2314218691.jpg",
              //   name: "恶魔的千日情人",
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
              // {
              //   id: 4,
              //   img: "https://www.luoshenread.com/imagedata/2018/04/04/5ac498d5c69f5051550610.jpg",
              //   name: "毒辣小娇妻",
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
              // {
              //   id: 5,
              //   img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0a653e338d698205473.jpg",
              //   name: "毒辣小娇妻",
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
              // {
              //   id: 6,
              //   img: "https://www.luoshenread.com/imagedata/2018/03/08/5aa0ad6ec7c27095433727.jpg",
              //   name: "毒辣小娇妻",
              //   author: "杀生丸",
              //   cate: "现代言情",
              //   intro: "毒辣！小娇妻速度士大夫速的“说法是发顺丰石帆胜丰石帆胜丰士大夫方式发”射点发射点度",
              //   status:"连载中",
              //   words:"23.7万字"
              // },
            ]
          },
          mounted: function () {

          },
          methods:{
              searchBook:function(){
                var toast = new auiToast({});
                toast.loading({
                    title:"loading...",
                    duration:2000
                })
                // 获取banner数据
                  api.ajax({
                      url: "http://www.w.iwekan.com/App/Book/Book/search?search="+vm.words,
                      method: 'get'
                  }, function(ret, err) {
                      if (ret) {
                        if(ret.code == 200){
                          vm.dataLists = ret.data.list
                          vm.ifsearch=true;
                        }
                          toast.hide();
                      } else {
                          toast.fail({
                              title: err.msg,
                              duration: 2000
                          });
                      }
                  });


                // vm.ifsearch=true;
              },
              cancel:function(){
                vm.ifsearch=false;
                vm.words="";
              },
              removeHistory:function(){
                vm.history=null;
              },
              chooseHistory:function(item){
                vm.words = item;
                vm.searchBook();
              },
              toDetails:function(item){
                api.openWin({
                    name: 'bookdetail',
                    url: '../../book/detail/bookdetail.html',
                    pageParam: {bookid: item}
                  });
              },
          },
      });
  </script>
  </html>
